
body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }


        h1 {
            color: #333;
            font-size: 35px;
            margin-bottom: 45px;
            
        }

        .Info {
            color: #333;
            font-size: 15px;
            margin-bottom: 5px;
            
        }

         .data-container {
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin: 20px 0;
             width: 100%;
             max-width: 300px;
            }

        .data-container1 {
             display: flex;               /* Flexbox zum Anordnen der Elemente in einer Zeile */
             align-items: left;          /* Vertikale Ausrichtung zentrieren */
             font-family: Arial, sans-serif;
             margin: 10px 0;
            }


       .value-label {
             font-size: 20px;
             color: #333;;
             
             margin-right: 10px;           /* Abstand zwischen Label und Wert */
        }

        .value {
            font-size: 160px;
            color: #007bff;
            text-align: center;
            margin-bottom: 10px;
            
        }

        .value_1 {
            font-size: 20px;
            color: #333;
            
            
        }

        #connectBtn {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 35px;
        }

        #connectBtn:hover {
            background-color: #0056b3;
        }


